.*.sw?
*.pyc
__pycache__
*~
.idea/
*.bak
*.txt
!make_junk/*.txt
!!make_junk/in_re_test_main.txt
!!make_junk/junk.txt
!ai_on_testing*.txt
!requirements.txt
*.json*
caff
*.log*
*_backup/
sandbox/
holding/
*.old
